<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
  <script type="text/javascript" src="/accounts/scripts/login.js"></script>
</head>
<body>
  
  <header>
    <%- include('../partials/header'); %>
  </header>
 
  <div class="container">
    <h2>Login Form</h2>
    <p>In this example, we use <code>.needs-validation</code>, which will add the validation effect AFTER the form has been submitting (if there's anything missing).</p>
    <p>Try to submit this form before filling out the input fields, to see the effect.</p>
    <form action="/login" method="POST">
      <div class="form-group">
        <label for="uname">Username:</label>
        <input type="text" class="form-control" id="username" placeholder="Enter username" name="username" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <% if(status == false){ %>
        <p style="color:red"><%=message%></p>
      <% } %>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  

  <footer class="footer mt-auto py-3">
    <%- include('../partials/footer'); %>

  </footer>

</html>